<div class="wrapper-inner">
  <div class="container container-xs container-responsive">
    <form [formGroup]="myForm" (ngSubmit)="onSubmit(myForm)">
      <h1>{{localePath + 'Title' | translate}}</h1>
      <app-labeled-input label="{{ localePath + 'OldPassword' | translate }}"
                        [control]="myForm.get('oldPassword')"
                        fieldName="oldPassword"
                        ></app-labeled-input>
      <app-labeled-input label="{{ localePath + 'NewPassword' | translate }}"
                        [control]="myForm.get('newPassword')"
                        fieldName="newPassword"
                        ></app-labeled-input>
      <app-labeled-input label="{{ localePath + 'ReplayPassword' | translate }}"
                        [control]="myForm.get('replNewPassword')"
                        fieldName="replNewPassword"
                        ></app-labeled-input>
      <app-ok-cancel okText="{{localePath + 'Ok' | translate}}" 
                    cancelText="{{localePath + 'Cancel' | translate}}"
                    ></app-ok-cancel>
      <div id="invalidPhraseError" *ngIf="responseError" class="alert alert-error fade in mb-25"
          style="display:block;">
        <p>{{ responseError }}</p>
      </div>
    </form>
  </div>
</div>
