<div class="wrapper-inner ">
  <div class="container container-xs container-responsive">
    <form [formGroup]="myForm" (ngSubmit)="onSubmit(myForm)">
      <h1>{{localePath + 'Title' | translate}}</h1>
      <app-labeled-input label="{{localePath + 'OldPhrase'| translate}}"
                        [control]="myForm.get('oldPhrase')"
                        fieldName="oldPhrase"
                        ></app-labeled-input>
      <app-labeled-input label="{{localePath + 'NewPhrase' | translate}}"      
                        [control]="myForm.get('newPhrase')"
                        fieldName="newPhrase"
                        ></app-labeled-input>
      <app-labeled-input label="{{localePath + 'ReplayPhrase' | translate}}"
                        [control]="myForm.get('replNewPhrase')"
                        fieldName="replNewPhrase"
                        ></app-labeled-input>
                        <div *ngIf="phraseMatchesError" class="alert alert-error fade in mb-25"
                            style="display:block;">
                          <p>{{ 'Errors/phraseMatchesError' | translate }}</p>
                        </div>
      <app-ok-cancel okText="{{localePath + 'Ok' | translate}}"
                    cancelText="{{localePath + 'Cancel' | translate}}"
                    ></app-ok-cancel>
    </form>
  </div>
</div>
