<div id="header">
  <app-header></app-header>
</div>
<mat-tab-group backgroundColor="primary" color="accent">
  <mat-tab label="{{ localePath + 'YourDeals' | translate }}">
    <div class="textContainerForDeals">
      <app-deal-list [filter]="getUserIdFilter()"></app-deal-list>
    </div>
  </mat-tab>
  <mat-tab label="{{ localePath + 'TrackedDeals' | translate }}">
    <div class="textContainerForDeals">
      <app-deal-list [filter]="getWatchUserIdFilter()"></app-deal-list>
    </div>
  </mat-tab>
  <mat-tab label="{{ localePath + 'MyBoughts' | translate }}">
    <div class="textContainerForDeals">
      <app-deal-list [filter]="getBoughtUserIdFilter()"></app-deal-list>
    </div>
  </mat-tab>
  <mat-tab label="{{ localePath + 'MySells' | translate }}">
    <div class="textContainerForDeals">
      <app-deal-list [filter]="getSellUserIdFilter()"></app-deal-list>
    </div>
  </mat-tab>
  <mat-tab label="{{ localePath + 'CommonInfo' | translate }}">    
    <div class="textContainer">
      <p>{{ localePath + 'FirstName' | translate }}:</p>
      <p>{{ user.firstName }}</p>
      <p>{{ localePath + 'LastName' | translate }}:</p>
      <p>{{ user.lastName }}</p>
      <p>{{ localePath + 'Email' | translate }}:</p>
      <p>{{ user.email }}</p>
      <p>{{ localePath + 'UserName' | translate }}:</p>
      <p>{{ user.username }}</p>
      <p>{{ localePath + 'UserPhone' | translate }}:</p>
      <p>{{ user.phone }}</p>
      <p>{{ localePath + 'UserType' | translate }}:</p>
      <p>{{ user.userType.typeName }}</p>
    </div>
  </mat-tab>
  <mat-tab label="{{ localePath + 'AdditionalInfo' | translate }}">
    <div class="textContainer">
      <p>{{ localePath + 'CompanyName' | translate }}:</p>
      <p>{{ user.companyName }}</p>
      <p>{{ localePath + 'PassportNumber' | translate }}:</p>
      <p>{{ user.passportNumber }}</p>
      <p>{{ localePath + 'PayerRegNumber' | translate }}:</p>
      <p>{{ user.userType.typeName }}</p>
      <p>{{ localePath + 'BankAccount' | translate }}:</p>
      <p>{{ user.bankAccount }}</p>
      <p>{{ localePath + 'BankCode' | translate }}:</p>
      <p>{{ user.bankCode }}</p>
      <p>{{ localePath + 'IsActive' | translate }}:</p>
      <p>{{ user.isActive }}</p>
      <p>{{ localePath + 'UserLocale' | translate }}:</p>
      <p>{{ user.locale }}</p>
    </div>
  </mat-tab>
  <mat-tab label="{{ localePath + 'Finances' | translate }}">
    <div class="textContainer">
      <p>{{ localePath + 'Balance' | translate }}:</p>
      <p>{{ user.balance }}</p>
    </div>
    <div class="textContainer">
      <p>{{ localePath + 'BetsLeft' | translate }}:</p>
      <p>{{ user.balanceBets }}</p>
    </div>
  </mat-tab>
</mat-tab-group>