#header {
  min-height: 10vh;
}

.button-container {
  margin-left: 30px;
  background-color: white;
  display: flex;
  width: 100%;
  justify-content: left;
  max-width: 210vh;
}

.button {
  background-color: #6c6969;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 4px;
  cursor: pointer;
  margin: 0 10px;
}

.button:first-child {
  margin-left: 10px;
}

.button:hover {
  background-color: #3f3d3d;
  color: white;
}

.block {
  margin-top: 20px;
  margin-left: 3%;
  min-height: 500px;
  width: 95%;
  background-color: lightgray;
  margin-bottom: 30px;
}

.text {
  font-size: 18px;
  color: #333;
}


.content{
  margin-top: 15px;
}

.textContainer{
  margin: 20px 0 0 30px;
  display: grid;
  grid-template-columns: repeat(2, max-content);
  gap: 10px;
}

.textContainerForDeals{
  margin: 20px 0 0 0;
  display: grid;
  grid-template-columns: repeat(2, max-content);
  gap: 10px;
  width: 100%;
}

.textContainer p {
  margin-right: 200px;
  margin-top: 20px;
}

app-deal-list{
  margin-top: 20px;
}
