#header {
  min-height: 10vh;
}

mat-tab-group {
  margin-top: 20px;
  margin-left: 3%;
  min-height: 600px;
  width: 95%;
  background-color: darkgrey;
  margin-bottom: 20px;
}

.text {
  font-size: 18px;
  color: #333;
}

.textContainer{
  margin: 20px 0 0 30px;
  display: grid;
  grid-template-columns: repeat(2, max-content);
  gap: 10px;
}

.textContainerForDeals{
  margin: 20px 0 0 0;
  width: 100%;
}

.textContainer p {
  margin-right: 200px;
  margin-top: 20px;
}