li.item {
    margin-bottom: 20px;   
    border-bottom-style:solid;
    border-bottom-color: rgb(40, 46, 73);
    border-bottom-width: 5px;
}

ul {
    list-style-type: none;
}

input{
    text-align: center;
    margin: auto;    
}

.search {
    align-content: center;
    margin:auto
}

.searchbox {
    margin:auto;
}