#header {
    min-height: 10vh;
    background-color: lightgray;
}

.content {
    margin-top: 15px;
}

div {
    &.row {
        &.searchBar {
            width: 90%;
            margin-bottom: 20px;
            margin-left: 2%;

            input {
                height: 50px;
                width: 90%;
            }
            app-users-button {
                height: 50px;
                width: 10%;
            }
        }

        .filters {
            width: 15%;
        }

        .result {
            width: 85%;
        }
    }
}