<div id="header">
  <app-header
    (isLoggedInChanged)="onIsLoggedInChange($event)"
  ></app-header>
</div>
<div class="content row">
  <div class="filters">
    <div class="filterBlock" [ngClass]="{openFilter: isChildOpen}">
      <div class="subcategories" [ngClass]="{filterBlockOpen : isChildOpen}">
        <app-burger-menu
          (isOpenChange)="onBurgerMenuOpenChange($event)"
          (isClickGoods)="chooseCategory($event.category)"
          (breadCrumbsString)="getBreadCrumbs($event)"
        ></app-burger-menu>
      </div>
    </div>
  </div>
  <div class="result" [ngClass]="{resultOpen: isChildOpen}">
    <div class="row searchBar">
      <input
        class="input"
        type="text"
        [(ngModel)]="searchValue"
        [ngClass]="{wideInput : !isLoggedIn}"
      />
      <app-users-button
        label="{{'Find' | translate}}"
        [ngClass]="{oneButton : !isLoggedIn}"
      ></app-users-button>
      <app-users-button
        (click)="addDeals()"
        label="{{'Pages/Header/AddDealsButton' | translate}}"
        *ngIf="isLoggedIn"
      ></app-users-button>
      <app-bread-crumbs *ngIf="breadCrumbs.length > 0"
        [crumbs]="breadCrumbs"
        (crumbsString)="chooseCategoryFromBreadCrumb($event)"
      ></app-bread-crumbs>
    </div>
    <div [ngClass]="{dealListBlock : !isGridVisible}" *ngIf="!isGridVisible">
      <app-deal-list
        [filter]="filter"
        [searchValue]="searchValue"
      ></app-deal-list>
    </div>
    <div *ngIf="isGridVisible">
      <app-category-grid
        (filterApply)="getFilter($event)"
        (breadCrumbsString)="getBreadCrumbs($event)"
        [categories]="categoryTree"
        [crumbsString]="getCrumbText"
      ></app-category-grid>
    </div>
  </div>
</div>
