<div id="header">
  <app-header></app-header>
</div>
<div class="content row">
  <div class="filters" >
    <div class="filterBlock" [ngClass]="{openFilter: isChildOpen}" >
      <div class="subcategories" [ngClass]="{filterBlockOpen : isChildOpen}">
        <app-burger-menu  (isOpenChange)="onChildOpenChange($event)"></app-burger-menu>
      </div>
    </div>
  </div>
  <div class="result" [ngClass]="{resultOpen: isChildOpen}">
    <div class="row searchBar">
      <input class="input" type="text" [(ngModel)]="searchValue"/>
      <app-users-button label="{{'Find' | translate}}"></app-users-button>
      <app-users-button (click)="addDeals()" label="{{'Pages/Header/AddDealsButton' | translate}}"></app-users-button>
    </div>
    <!--    <app-deal-list [searchValue]="searchValue"></app-deal-list>-->
    <app-category-grid></app-category-grid>
  </div>
</div>
