.content {
  margin-top: 15px;
  margin-left: 7px;
  width: 100%;
}

.wideInput{
 min-width: 84%;
}
.dealListBlock{
  width: 90%;
  margin-left: 4%;
}
.filterBlock {
  border: 2px solid lightgray;
  width: 100%;
  cursor: pointer;
}

.openFilter {
  border: 2px solid lightgray;
  height: 200px;
  width: 370%;
}

.subcategories {
  border: 2px solid lightgray;
  height: 40px;
  margin: 3px;
}

div {
  &.row {
    justify-content: space-between;

    &.searchBar {
      width: 95%;
      margin-bottom: 20px;

      .input {
        height: 50px;
        width: 70%;
        margin-left: 5.7%;
      }

      app-users-button {
        height: 50px;
        width: 10%;
      }

      .addDealsButton {
        width: 10%;
        background-color: #018dc9;
        color: #fff;
        border: none;
      }
    }

    .filters {
      width: 5%;
    }

    .result {
      max-width: 95%;
    }

    .resultOpen {
      width: 85%;
    }
  }
}

@media only screen and (max-width: 768px) {
  .content {
    width: 100%;
  }

  input {
    width: 5%;
  }

  .result {
    padding-left: 25px;
    width: 90%;
  }

  .filterBlock {
    width: 500%;
    cursor: pointer;
  }

  .openFilter{
    border:none;
  }

  .filterBlockOpen {
    width: 80%;
    height: 30%;
    cursor: pointer;
    position: fixed;
    z-index: 1;
    background-color: white;
  }

  .filters {
    height: 100%;
  }

  input.input {
    width: 100% !important;
  }

  app-users-button {
    width: 40% !important;
    margin-top: 20px;
    margin-left: 20px;
  }

  .oneButton{
    margin-left: 35%;
  }

  .addDealsButton {
    width: 40% !important;
  }
  app-deal-list {
    width: 100%;
  }
}

app-deal-list {
  width: 100%;
}