<div class="wrapper-inner">
  <div class="container container-xs container-responsive">
    <form [formGroup]="myForm" (ngSubmit)="onSubmit(myForm)">
      <h1>{{localePath + 'Title' | translate}}</h1>
      <app-labeled-input label="{{localePath + 'Password' | translate}}"
                        [control]="myForm.get('password')"
                        fieldName="password"
                        ></app-labeled-input>
      <app-labeled-input label="{{localePath + 'Phrase' | translate}}"
                        [control]="myForm.get('phrase')"
                        fieldName="phrase"
                        ></app-labeled-input>
      <app-ok-cancel okText="{{localePath + 'Ok' | translate}}"
                    cancelText="{{localePath + 'Cancel' | translate}}"
                    ></app-ok-cancel>
    </form>
  </div>
</div>
