<div class="block">
  <form [formGroup]="myForm" (ngSubmit)="onSubmit(myForm)" >
    <h1>{{localePath + 'Title' | translate}}</h1>
    <app-labeled-input label="{{localePath + 'Password' | translate}}"[control]="myForm.get('password')" fieldName="password"></app-labeled-input>
    <app-labeled-input label="{{localePath + 'Phrase' | translate}}" [control]="myForm.get('phrase')"  fieldName="phrase" ></app-labeled-input>
    <app-ok-cancel okText="{{localePath + 'Ok' | translate}}" cancelText="{{localePath + 'Cancel' | translate}}"></app-ok-cancel>
<!--    <div id="invalidEmailError" *ngIf="invalidEmailError" class="alert alert-error fade in mb-25"-->
<!--         style="display:block;">-->
<!--      <p>{{ 'Errors/invalidEmailError' | translate : localePath }}</p>-->
<!--    </div>-->
  </form>
</div>
