.login-form {
  &__submit {
    padding-top: .5rem;
    padding-bottom: 1rem;
  }

  &__forgot {
    padding-bottom: .5rem;
    text-align: center;
    padding-top: 1.5rem;
  }

}
div.login-form__submit{

  button {    
    margin-left: 30%;
    margin-right: 30%;
    margin-top: 1px;
    width: 40%;
    height: 60px;
  }
}

.ok-cancel-block{
  margin-top: 20px;
}
