<!-- <div class="mobile col-12">
    <img class="col-12" [src]="article['imageLink']" />
    <div class="col-12">
        <div class="col-12">
            <a [href]="article['link']" target="_blank">
                <h6>{{article.title}}</h6>
            </a>
        </div>
        <div class="col-12">
            <p class="desc">{{article.content}}</p>
        </div>
        <div class="row">
            <div class="col-6">
                <p class="publishDate">{{article.publishDate}}</p>
            </div>
            <div class="col-6">
                <p class="source">{{article.source}}</p>
            </div>
        </div>
    </div>
</div> -->
<div class="desktop row">
    <div class="col-3">
        <!-- <img [src]="article['imageLink']" target="_blank" /> -->
    </div>
    <div class="col-9">
        <div class="col-12">
            <!-- <a [href]="article['link']"> -->
                <h6>{{deal.productName}}</h6>
            <!-- </a> -->
        </div>
        <div class="col-12">
            <p class="desc">{{deal.shortDesc}}</p>
        </div>
        <div class="col-12">
            <p class="desc">{{deal.longDesc}}</p>
        </div>
        <!-- <div class="row">
            <div class="col-6">
                <p class="publishDate">{{article.publishDate}}</p>
            </div>
            <div class="col-6">
                <p class="source">{{article.source}}</p>
            </div>
        </div> -->
    </div>
</div>