.wrapper {
  height: 100%;
  width: 100%;
  margin-left: 18px;
}

.grid-container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.block {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 30%;
}

.category {
  border: 2px solid lightgray;
  border-radius: 3px;
  width: 100%;
  height: 200px;
  margin-left: 10%;
  margin-bottom: 15px;
  text-align: center;
  padding-top: calc(200px / 2.3);
  font-weight: 700;
  font-size: small;
  cursor:pointer;


  &:hover {
    border: 2px solid darkgray;
  }
}

@media only screen and (max-width: 900px) {
  .grid-container {
    flex-direction: row;
  }
  .block {
    flex-direction: row;
    width: 45%;
  }
}

@media only screen and (max-width: 768px) {
  .grid-container {
    flex-direction: column;
  }
  .block {
    flex-direction: column;
    width: 90%;
  }
  .category {
    width: 100%;
    margin-left: -2%;
  }
}
