* {
    color: black;
}
div {
    &.row {
        padding: 10px;
    }
    &.betting-container {
        background-color: lightgray;
    }
    &.betting-header {
        height: 60px;
        margin-left: 0px;
        background-color: darkgray;
        font-weight: bolder;

        &:first-child {
            margin-top: 10px;
            text-align: center;
        }
    }

    &.time-left {
        div {
            background-color: lightcoral;
            p {
                font-size: larger;
                font-weight: 700;
                text-align: center;
            }
        } 
    }

    &.winner-block div {        
        border-bottom: 1px solid black;
    }

    &.auction-start-settings div {
        border-bottom: 1px solid black;
        p {
            font-size: medium;
            font-weight: 500;
        }
    }

    &.makeAutoBetBlock {
        justify-content: center;

        form {
            padding-bottom: 5px;     
            border-bottom: 1px solid black;
        }

        form div button {
            margin-top: 0px;
        }

        h3 {            
            font-weight: 600;
        }
    }

    &.makeBetBlock {
        justify-content: center;
    }

    &.alert {
        margin-left: 10px;
        margin-top: 0px;
        margin-bottom: 0px;
        p {
            margin: 0px;
        }
    }

    button {
        margin-right: 5px;
        padding-left: 15px;
        padding-top: 15px;

        &.make-bet {
            margin-top: 23px;
        }
    }
}
