div {
    &.row {
        padding: 10px;
    }
    &.betting-container {
        background-color: lightgray;
        width: 95%;
    }
    &.betting-header {
        height: 60px;
        margin-left: 0px;
        background-color: darkgray;
        font-weight: bolder;

        h2 {
            margin-top: 10px;
            text-align: center;
        }
    }

    &.makeBetBlock {
        justify-content: center;
    }

    &.alert {
        margin-left: 10px;
        margin-top: 0px;
        margin-bottom: 0px;
        p {
            margin: 0px;
        }
    }

    button {
        margin-right: 5px;
        padding-left: 15px;
        padding-top: 15px;

        &.make-bet {
            margin-top: 23px;
        }
    }
}