<div class="betting-container">
    <div class="betting-header row col-12">
        <h2>{{ localePath + 'Auction' | translate }}</h2>
    </div>
    <div class="row" *ngIf="deal?.canBuyNow">
        <div class="col-6">
            <p>{{ localePath + 'PriceBuyNow' | translate }}</p>
            <p>{{ deal?.priceBuyNow }} BYN</p>
        </div>
        <div class="col-6">
            <button class="btn btn-lg btn-block btn-primary" (click)="buyNowClick()">{{ localePath + 'BuyNow' | translate }}</button>
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <p>{{ localePath + 'AuctionStart' | translate }}</p>
            <p>{{ deal?.startTime | date:'long' }}</p>
        </div>
        <div class="col-6">
            <p>{{ localePath + 'StartBet' | translate }}</p>
            <p>{{ deal?.startBet }} BYN</p>
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <p>{{ localePath + 'CurrentWinner' | translate }}</p>
            <p>{{ winnerFullName }}</p>
        </div>
        <div class="col-6">
            <p>{{ localePath + 'CurrentBet' | translate }}</p>
            <p>{{ currentBet }} BYN</p>
        </div>
    </div>
    <div class="row makeBetBlock">
        <form class="row" [formGroup]="myForm" (ngSubmit)="makeBet(myForm)">
            <div class="col-6 padding-top-0">
                <app-labeled-input
                    label="{{ localePath + 'YourBet' | translate }}"
                    [control]="myForm.get('bet')"
                    [isPasswordField]="false">
                </app-labeled-input>
            </div>
            <div class="col-6">
                <button type="submit" class="btn btn-lg btn-block btn-primary make-bet">{{ localePath + 'MakeBet' | translate }}</button>
            </div>
        </form>
    </div>
    <div *ngIf="responseError" class="alert alert-error fade in"
        style="display:block;">
      <p>{{ 'Errors/MinBetError' | translate }}</p>
    </div>
    <div class="row">
        <div class="col-12" *ngIf="!IsWatchedByUser()">
            <button class="btn btn-lg btn-block btn-secondary" (click)="addToWatchList()">{{ localePath + 'AddToWatchList' | translate }}</button>
        </div>
        <div class="col-12" *ngIf="IsWatchedByUser()">
            <button class="btn btn-lg btn-block btn-secondary" (click)="removeFromWatchList()">{{ localePath + 'RemoveFromWatchList' | translate }}</button>
        </div>
    </div>
</div>
