<div class="betting-container">
    <div class="betting-header row col-12">
        <h2>{{ localePath + 'Auction' | translate }}</h2>
    </div>
    <div class="row auction-start-settings" *ngIf="!isAuctionEnded() && !isAuctionStarted()">
        <div class="col-6">
            <p>{{ localePath + 'AuctionStart' | translate }}</p>
            <p>{{ auction?.auctionStart | date:'short' }}</p>
        </div>
        <div class="col-6">
            <p>{{ localePath + 'StartBet' | translate }}</p>
            <p>{{ deal?.startBet }} BYN</p>
        </div>
    </div>
    <div class="row winner-block">
        <div class="col-6">
            <p>{{ localePath + 'CurrentWinner' | translate }}</p>
            <p>{{ winnerFullName }}</p>
        </div>
        <div class="col-6">
            <p>{{ localePath + 'CurrentBet' | translate }}</p>
            <p>{{ currentBet }} BYN</p>
        </div>
    </div>
    <div class="row makeAutoBetBlock" *ngIf="!isAuctionEnded()">
        <h3>{{ localePath + 'AutoBet' | translate }}</h3>
        <form class="row" [formGroup]="autoBetForm">
            <div class="col-6 padding-top-0">
                <app-labeled-input
                    label="{{ localePath + 'MaxBet' | translate }}"
                    labelThan="{{ localePath + 'CurrentBet' | translate }}"
                    [control]="autoBetForm.get('maxBet')"
                    [isPasswordField]="false">
                </app-labeled-input>
            </div>
            <div class="col-6 padding-top-0">
                <app-labeled-input
                    label="{{ localePath + 'BetStep' | translate }}"
                    labelThan="0"
                    [control]="autoBetForm.get('betStep')"
                    [isPasswordField]="false">
                </app-labeled-input>
            </div>
            <div class="col-12" *ngIf="isAutoBetApplied()">
                <p>{{ localePath + 'AutobetApplied' | translate }}</p>
            </div>
            <div class="col-6">
                <button
                    (click)="cancelAutoBet()"
                    [attr.disabled]="!isTenMinutesBeforeStart() ? null : ''"
                    class="btn btn-lg btn-block btn-secondary make-bet">
                    {{ localePath + 'Cancel' | translate }}
                </button>
            </div>
            <div class="col-6">
                <button
                    (click)="setAutoBet(autoBetForm)"
                    [attr.disabled]="!isTenMinutesBeforeStart() ? null : ''"
                    class="btn btn-lg btn-block btn-primary make-bet">
                    {{ localePath + 'Apply' | translate }}
                </button>
            </div>
        </form>
    </div>
    <div class="row makeBetBlock" *ngIf="!isAuctionEnded()">
        <form
            class="row"
            [formGroup]="myForm"
            (ngSubmit)="makeBet(myForm)">
            
            <div class="col-6 padding-top-0">
                <app-labeled-input
                    label="{{ localePath + 'YourBet' | translate }}"
                    labelThan="{{ localePath + 'CurrentBet' | translate }}"
                    [control]="myForm.get('bet')"
                    [isPasswordField]="false">
                </app-labeled-input>
            </div>
            <div class="col-6">
                <button
                    [attr.disabled]="!isTenMinutesBeforeStart() ? null : ''"
                    type="submit"
                    class="btn btn-lg btn-block btn-primary make-bet">
                    {{ localePath + 'MakeBet' | translate }}
                </button>
            </div>
        </form>
    </div>
    <div class="row time-left" *ngIf="isTenMinutesBeforeStart()">
        <div class="col-12">
            <p>{{ localePath + 'TenMinutesToStart' | translate }}</p>
            <p>{{ localePath + 'TimeLeft' | translate }}</p>
            <p>{{ timeLeftToStart() }}</p>
        </div>
    </div>
    <div class="row time-left" *ngIf="isAuctionStarted()">
        <div class="col-12">
            <p>{{ localePath + 'TimeLeft' | translate }}</p>
            <p>{{ timeLeft() }}</p>
        </div>
    </div>
    <div class="row time-left" *ngIf="isAuctionEnded()">
        <div class="col-12">
            <p>{{ localePath + 'AuctionEnded' | translate }}</p>
        </div>
    </div>
</div>
