.imageBlock {
  width: 30%;
}

.container{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 20px;
  width: 90%;

 .row:first-of-type {
  height: 40px;
  margin-bottom: 10px;
 } 
}

.menuBlock {
  display: flex;
  justify-content: flex-end;  

  p {
    font-size: larger;
    font-weight: 500;
    margin-top: 10px;
  }

  button {
    margin-left: 10px;
    width: 180px;
    border: 2px solid;
    border-radius: 3px;
    border-color: darkgray;
  }
}

.row-1 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 70%;
  margin-top: 5px;
}

.halfBlock {
  width: 50%;
  margin-bottom: 20px;
  hr{
    width: 60%;
  }
}

.fullBlock {
  width: 100%;
  margin-bottom: 20px;
  hr{
    width: 100%;
  }
}

.ownerAndPartNumberBlock{
  display: flex;
  width: 100%;
}

h3{
  color:black;
}

p{
  font-size: small;
  color: black;
  font-weight: bold;
}

@media only screen and (max-width: 1400px) {  
  .contentBlock {
    width: 100%;
  }
}
