
#header {
  min-height: 10vh;
  background-color: lightgray;
}
.imageBlock {
  width: 30%;
}
.container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 60px;
  width: 90%;
}

.row-1 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 70%;
  margin-top: 5px;
}

.prodNameBlock {
  width: 50%;
  margin-bottom: 20px;
  hr{
    width: 60%;
  }
}

.buttonBlock {
  width: 20%;
  button{
    width: 100%;
    height: 40%;
    background-color: #018dc9;
    color: white;
    border: none;
    margin-bottom: 10px;
  }
}

.shortDescBlock {
  width: 100%;
  margin-bottom: 20px;
  hr{
    width: 100%;
  }
}

.quantityBlock {
  width:50%;
  margin-bottom: 20px;
  hr{
    width: 50%;
  }
}

.statusBlock {
  width:50%;
  hr{
    width: 50%;
  }
}
.ownerAndPartNumberBlock{
  display: flex;
  width: 100%;
}
.ownerBlock {
  width:50%;
  hr{
    width: 50%;
  }
}

.partNumberBlock {
  width: 50%;
  hr{
    width: 50%;
  }
}
.row-2{
  width: 90%;
  margin-top: 40px;
  margin-left: 50px;
  hr{
    width: 90%;
  }
}

.bettingBlock {
  min-width: 350px;
  margin-top: 40px;
}

h3{
  color:black;
}

p{
  font-size: small;
  color: black;
  font-weight: bold;
}

@media only screen and (max-width: 1400px) {  
  .contentBlock {
    width: 100%;
  }

  .bettingBlock {
    margin-left: 15%;
    width: 70%;
  }
}
