.imageBlock {
  width: 30%;
}

.container{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 20px;
  width: 90%;

 .row:first-of-type {
  height: 40px;
  margin-bottom: 10px;
 } 
}

.menuBlock {
  display: flex;
  justify-content: flex-end;  

  p {
    font-size: larger;
    font-weight: 500;
    margin-top: 10px;
  }

  button {
    margin-left: 10px;
    width: 180px;
    border: 2px solid;
    border-radius: 3px;
    border-color: darkgray;
  }
}

.row-1 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 70%;
  margin-top: 5px;
}

.prodNameBlock {
  width: 50%;
  margin-bottom: 20px;
  hr{
    width: 60%;
  }
}

.buttonBlock {
  width: 20%;
  button{
    width: 100%;
    height: 50px;
    background-color: #018dc9;
    color: white;
    border: none;
    margin-bottom: 10px;

    &:disabled {
      background-color: lightgray;
    }
  }
}

.shortDescBlock {
  width: 100%;
  margin-bottom: 20px;
  hr{
    width: 100%;
  }
}

.quantityBlock {
  width:50%;
  margin-bottom: 20px;
  hr{
    width: 50%;
  }
}

.statusBlock {
  width:50%;
  hr{
    width: 50%;
  }
}

.ownerAndPartNumberBlock{
  display: flex;
  width: 100%;
}

.ownerBlock {
  width:50%;
  hr{
    width: 50%;
  }
}

.partNumberBlock {
  width: 50%;
  hr{
    width: 50%;
  }
}

.fullDescBlock{
  width: 90%;
  margin-top: 40px;
  margin-left: 20px;
  hr{
    width: 90%;
  }
}

h3{
  color:black;
}

p{
  font-size: small;
  color: black;
  font-weight: bold;
}

@media only screen and (max-width: 1400px) {  
  .contentBlock {
    width: 100%;
  }
}
