<div class="container">
    <div class="row">
        <div class="col-4">
            <a href="../../../index.html">
                <h2>{{ 'Pages/Header/title' | translate }}</h2>
            </a>
        </div>
        <!-- <div class="col-4">
            <input id="searchBox" type="text" [(ngModel)]="searchValue"
          (input) = "onTextChange()"/>
        </div> -->
        <div class="col-4">
          <div class="profile">
            <div class="header__user" id="loginRow">
              <div *ngIf="!isLoggedIn">
                <a href="/register">{{ 'Pages/RegisterPage/title' | translate }}</a>
                <span class="or">or</span>
                <a href="/login">{{ 'Pages/LoginPage/title' | translate }}</a>
              </div>
              <div (click)="logout()" *ngIf="isLoggedIn">
                <a>{{ 'Pages/Logout' | translate }}</a>
              </div>
              <div class="dropdown dropdown--profile"  *ngIf="isLoggedIn">
                <span class="dropdown-avatar">
                  <!-- <select>
                    <option (click)="logout()" >{{ 'Pages/Logout' | translate }}</option>
                  </select> -->
                </span>
              </div>
            </div>
          </div>
        </div>
    </div>
</div>



