#searchBox {
    float: right;
    background-color: black;

    color:rgb(21, 94, 21);
}

div.row {
  margin-top: 35px;
    margin-bottom: 25px;
}

div.header__user div {
  min-width: 10hh;
  align-self: flex-end;
  & a, span {
    flex: 1;
  }
}

.profile {
  align-items: flex-end;
  flex: 1;
  float: right;
}

.col-4 {
  flex:1;
}

.header__user .or {
  font-size: 1.4rem;
  color: #666;
  margin: 0 0.5rem;
}

a {
    color: rgb(5, 61, 5);
    text-decoration: none;
}

@media only screen and (min-width: 1200px) {
  .header.header-desktop .profile {
    height: 80px;
    margin-left: auto;
  }
}

@media only screen and (min-width: 992px) {
  .header.header-desktop .profile {
    background-color: #ffffff;
    height: auto;
    padding: 0;
    order: 2;
    margin-left: auto;
  }
}

.profile {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  height: auto;
  margin-left: auto;
}


element.style {
}
.header.header-desktop .header__user {
  display: flex !important;
}
.header__user {
  display: flex;
  align-items: center;
  margin: 0;
}

.container {
  position: absolute;
  bottom: 5px;
  width: 100%;
}

@media (min-width: 768px) {
  .dropdown--profile .dropdown-avatar {
      width: 4rem;
      height: 4rem;
      background-size: 2.5rem 2.5rem;
  }
}

.dropdown--profile .dropdown-avatar {
    margin-left: 0.5rem;
    margin-right: 0;
    border-radius: 50%;
    display: inline-block;
    width: 3.5rem;
    height: 3.5rem;
    font-size: 1.4rem;
    border: 0.3rem solid #D8D8D8;
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: 2rem 2rem;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(..\..\images\svg\user.svg);
}
