<div class="container">
    <div class="row">
        <div class="col-4">
            <a href="../../../index.html">
                <h2>Today</h2>
            </a>
        </div>
        <div class="col-4">
            <input id="searchBox" type="text" [(ngModel)]="searchValue"
          (input) = "onTextChange()"/>
        </div>
      <div class="col-4">
        <div class="profile">


          <a href="https://bitly.com/3wu4i6n" target="_blank" data-toggle="tooltip" data-html="true" data-container="body" data-placement="bottom" title="" class="flag" data-original-title="Посмотреть информацию об официальном рыночном альянсе IAA в Беларуси">
                                <span class="icon-header-flags d-block">
                                        <!--?xml version="1.0" encoding="UTF-8"?-->


                                </span>
          </a>

          <div class="header__user" id="loginRow">
            <div>
              <a aria-label="Register a new account" href="/Registration/Free">Register</a>
              <span class="or">or</span>
              <a href="/Dashboard/Default" aria-label="Log In">Log In</a>
            </div>
            <div class="dropdown dropdown--profile">
              <span class="dropdown-avatar"></span>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>



