<div class="wrapper-inner">
  <div class="container container-xs container-responsive">
    <form [formGroup]="myForm" (ngSubmit)="onSubmit(myForm)">
      <h1>{{localePath + 'Title' | translate}}</h1>
      <app-labeled-input label="{{ localePath + 'OldPassword' | translate }}"
                        [control]="myForm.get('oldPassword')"
                        fieldName="oldPassword"
                        ></app-labeled-input>
      <app-labeled-input label="{{ localePath + 'NewPassword' | translate }}"
                        [control]="myForm.get('newPassword')"
                        fieldName="newPassword"
                        ></app-labeled-input>
                        <div *ngIf="newPasswordMatchesOldError" class="alert alert-error fade in mb-25"
                            style="display:block;">
                          <p>{{ 'Errors/newPasswordMatchesOldError' | translate }}</p>
                        </div>
                        <div *ngIf="invalidPasswordError" class="alert alert-error fade in mb-25"
                            style="display:block;">
                          <p>{{ 'Errors/invalidPasswordError' | translate }}</p>
                        </div>
      <app-labeled-input label="{{ localePath + 'ReplayPassword' | translate }}"
                        [control]="myForm.get('replNewPassword')"
                        fieldName="replNewPassword"
                        ></app-labeled-input>
                        <div *ngIf="passwordMatchesError" class="alert alert-error fade in mb-25"
                            style="display:block;">
                          <p>{{ 'Errors/passwordMatchesError' | translate }}</p>
                        </div>
      <app-ok-cancel okText="{{localePath + 'Ok' | translate}}" 
                    cancelText="{{localePath + 'Cancel' | translate}}"
                    ></app-ok-cancel>
    </form>
  </div>
</div>
