input{
   position: relative;
}
.form-Item{
  padding-top: 10px;
  padding-bottom: 10px;
}
img{
  width: 20px;
  height: 20px;
}

.eyeicon  {
  position: relative;
  top: 65%;
  top: -35px;
  left: 90%;
  transform: translateY(-50%);
  cursor: pointer;
}

:host-context(.padding-top-0) .form-Item {
  padding-top: 0px;
}
