<div class="wrapper-inner ">
  <div class="container container-xs container-responsive">
    <div class="tile tile-no-style">
      <!-- <div class="tile-header tile-header--logo">
          <a href="https://www.iaai.com" class="logo">Homepage</a>
      </div> -->
      <div class="tile-header tile-header--login">
        <div>
          <h1 class="heading-3">{{ localePath + 'title' | translate : localePath }}</h1>
          <hr class="hr-highlight hr-highlight-condensed">
        </div>
      </div>
      <section>
        <form [formGroup]="myForm" (ngSubmit)="onSubmit(myForm)">
          <div class="tile-body">
            <div class="login-form">
              <app-labeled-input label="{{localePath + 'fieldsNames/email' | translate}}"
                                [control]="myForm.get('email')"
                                fieldName="email"
                                [isPasswordField]="false"
                                ></app-labeled-input>
              <div id="invalidEmailError" *ngIf="invalidEmailError" class="alert alert-error fade in mb-25"
                   style="display:block;">
                <p>{{ 'Errors/invalidEmailError' | translate : localePath }}</p>
              </div>
              <app-labeled-input label="{{localePath + 'fieldsNames/password' | translate}}"
                                [control]="myForm.get('password')"
                                fieldName="password"
                                ></app-labeled-input>
              <app-labeled-input label="{{localePath + 'fieldsNames/phrase' | translate}}"
                                [control]="myForm.get('phrase')"
                                fieldName="phrase"
                                ></app-labeled-input>
              <div id="invalidPhraseError" *ngIf="invalidPhraseError" class="alert alert-error fade in mb-25"
                   style="display:block;">
                <p>{{  'Errors/phraseMatchesError' | translate : localePath }}</p>
              </div>
              <div class="login-form__submit">
                <button type="submit" class="btn btn-lg btn-block btn-primary">{{ localePath + 'title' | translate : localePath }}
                </button>
              </div>
              <div id="loginError" *ngIf="loginError" class="alert alert-error fade in mb-25"
                   style="display:block;">
                <p>{{ errorText }}</p>
              </div>
              <div class="login-form__forgot">
                <p class="text-center mt-20">{{ localePath + 'dontHaveAccount' | translate }}
                  <a href="/register">{{ 'Pages/RegisterPage/title' | translate }}</a>
                </p>
              </div>
            </div>
          </div>
        </form>
      </section>
    </div>
  </div>
</div>
