
<div id="header">
  <app-header></app-header>
</div>
<div>
  <form [formGroup]="myForm" (ngSubmit)="onSubmit(myForm)">
  <div class="imageContainer">
    <div class="imageBlock">
      <!-- Здесь может быть блок для загрузки изображения -->
    </div>
  </div>
 <div class="prodName">
   <label>{{ localePath + 'ProdName' | translate : localePath }}</label>
   <input formControlName="prodName" type="text"required>
   <div *ngIf="getControl('prodName').errors && getControl('prodName').touched" style="color: red">
     <p>{{ localePathError + 'ProdNameError' | translate : localePathError }}</p>
   </div>
 </div>
  <div class="descriptionBlock">
    <div class="textAreaContainer">
      <label>{{ localePath + 'ShortDescription' | translate : localePath }}</label>
      <textarea formControlName="shortDescription"></textarea>
      <div *ngIf="getControl('shortDescription').errors && getControl('shortDescription').touched" style="color: red">
        <p >{{ localePathError + 'ShortDescriptionError' | translate : localePathError }}</p>
      </div>
    </div>
    <div class="textAreaContainer">
      <label>{{ localePath + 'LongDescription' | translate : localePath }}</label>
      <textarea formControlName="longDescription"></textarea>
      <div *ngIf="getControl('longDescription').errors && getControl('longDescription').touched" style="color: red">
        <p >{{ localePathError + 'LongDescription' | translate : localePathError }}</p>
      </div>
    </div>
  </div>
  <div class="dataInputContainer">
    <div class="selectContent">
      <label>{{ localePath + 'Category' | translate : localePath }}</label>
      <select formControlName="category">
        <option *ngFor="let option of allValues; let i = index" [value]="i">{{option}}</option>
      </select>
      <div *ngIf="getControl('category').value !== '0' && getControl('category').value !== '1' && getControl('category').value !== '2' && getControl('category').value !== '3' && getControl('category').touched" style="color: red;">
        <p>{{ localePathError + 'CategoryError' | translate : localePathError }}</p>
      </div>
    </div>

  </div>
  <div class="allInputs">
    <div class="labelInputs">
      <label>{{localePath + 'PartNumber' | translate : localePath }}</label>
      <input formControlName="partNumber"/>
      <div *ngIf="getControl('partNumber').errors && getControl('partNumber').touched" style="color: red">
        <p >{{ localePathError + 'PartNumber' | translate : localePathError }}</p>
      </div>
    </div>
    <div class="labelInputs">
      <label>{{localePath + 'Uom' | translate : localePath }}</label>
      <input formControlName="uom"/>
      <div *ngIf="getControl('uom').errors && getControl('uom').touched" style="color: red">
        <p >{{ localePathError + 'UomError' | translate : localePathError }}</p>
      </div>
    </div>
    <div class="labelInputs">
      <label>{{localePath + 'Quantity' | translate : localePath }}</label>
      <input type="number" formControlName="quantity"/>
      <div *ngIf="getControl('quantity').errors && getControl('quantity').touched" style="color: red">
        <p >{{ localePathError + 'QuantityError' | translate : localePathError }}</p>
      </div>
    </div>
  </div>
  <div class="canBuyNow">
    <label>{{localePath + 'CanBuyNow' | translate : localePath }}</label>
    <input type="checkbox" class="checkbox" formControlName="canBuyNow" (change)="togglePriceBuyNow()"/>
    <div *ngIf="visibilityPriceBuyNow">
      <label>{{localePath + 'PriceBuyNow' | translate : localePath }}</label>
      <input class="label" formControlName="priceBuyNow" type="number" />
      <div *ngIf=" visibilityPriceBuyNow && getControl('priceBuyNow').errors && getControl('priceBuyNow').touched" style="color: red">
        <p >{{ localePathError + 'PriceBuyNowError' | translate : localePathError }}</p>
      </div>
    </div>
  </div>
  <div class="auctionBlock">
    <h3>{{localePath + 'Auction' | translate : localePath }}</h3>
    <div class="inputGroup">
      <label>{{localePath + 'StartTime' | translate : localePath }}</label>
      <input type="time" formControlName="startTime"/>
      <div *ngIf="getControl('startTime').errors && getControl('startTime').touched" style="color: red">
        <p >{{ localePathError + 'StartTimeError' | translate : localePathError }}</p>
      </div>
      <input type="date" formControlName="startDate"/>
      <div *ngIf="getControl('startDate').errors && getControl('startDate').touched" style="color: red">
        <p >{{ localePathError + 'StartDateError' | translate : localePathError }}</p>
      </div>
    </div>
    <div class="inputGroup">
      <label>{{localePath + 'AuctionDuration' | translate : localePath }}</label>
      <input class="endTimeInput" type="number" formControlName="duration">
      <div *ngIf="getControl('duration').errors && getControl('duration').touched" style="color: red">
        <p >{{ localePathError + 'AuctionDurationError' | translate : localePathError }}</p>
      </div>
    </div>
    <div class="inputGroup">
      <label>{{localePath + 'MinimalBet' | translate : localePath }}</label>
      <input class="endTimeInput" type="number" formControlName="minimalBet">
      <div *ngIf="getControl('minimalBet').errors && getControl('minimalBet').touched" style="color: red">
        <p >{{ localePathError + 'MinimalBetError' | translate : localePathError }}</p>
      </div>
    </div>
  </div>
  <div class="buttonBlock">
    <button>{{localePath + 'Cancel' | translate : localePath }}</button>
    <button type="submit">{{localePath + 'Ok' | translate : localePath }}</button>
  </div>
  </form>
</div>



