
#header {
  min-height: 10vh;
  background-color: lightgray;
}

.imageBlock {
  width: 20%;
  height: 200px;
  background-color: black;
  color: white;
  margin: 0 0 10px 0;
}

.container {
  width: 100%;
  margin-left: 5%;
  margin-top: 30px;

}

.row-1 {
  width: 70%;
  margin-left: 5%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

.prodNameBlock {
  width: 60%;

  input {
    width: 100%;
  }
}

.categoryBlock {
  margin-right: 15%;
  width: 20%;

  select {
    width: 100%;
  }
}

.shortDescBlock {
  margin: 20px 10% 20px 0;
  width: 70%;

  textarea {
    width: 100%;
  }
}

.longDescriptionBlock {
  margin-top: -25px;
  margin-bottom: 50px;

  textarea {
    width: 95%;
    height: 70px;
  }
}

.partNumberBlock {
  margin-left: 40px;
}

.allInputs {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin-bottom: 20px;
}


.partNumberBlock {
  margin-left: 38%;

}

.quantityBlock {
  margin: 20px 70px 0 0;
}

.canBuyNowBlock {
  border: 1px solid black;
  width: 100%;

  label {
    text-align: center;
  }

  .checkbox {
    margin-left: 50%;
  }

  .label {
    margin-left: 10%;
  }
}

.auctionAndCanBuyNowBlock {
  display: flex;
  width: 20%;
  flex-direction: column;
  justify-content: space-between;
  margin: -36% 0 0 77%;

}

.auctionBlock {
  border: 1px solid black;
  width: 100%;
  margin-top: 20px;

  h3 {
    text-align: center;
  }

  label {
    text-align: center;
  }
}

.startTimeBlock {
  margin-left: 20px;
  width: 100%;
}

.StartBetBlock {
  margin-bottom: 10px;
}

.AuctionDurationBlock {
  margin-top: 10px;
  margin-left: 30px;
}

.StartBetBlock {
  margin-top: 10px;
  margin-left: 30px;
}

.buttonBlock {
  width: 35%;
  margin-left: 98%;

}

.buttonBlock button {
  width: 40%;
  margin-left: 20px;
  border: none;
  height: 40px;
}

.okButton {
  background-color: #018dc9;
}

.cancelButton {
  background-color: #c9cfd2;
}
