<div class="headerBlock">
  <div class="row">
    <div class="flex-1 titleBlock">
      <a href="../../../index.html">
        <mat-icon>home</mat-icon>
        <h2>{{ 'Pages/Header/title' | translate }}</h2>
      </a>
    </div>
    <div class="flex-1">
      <div class="profile">
        <div class="header__user flex-1" id="loginRow">
          <div class="langBlock">
            <button
              class="langItem lang"
              mat-button
              [matMenuTriggerFor]="langMenu">
              {{ 'Language/Language' | translate }}
            </button>
            <button
              class="langItem title"
              mat-button
              [matMenuTriggerFor]="langMenu">
              {{ ('Language/Language' | translate) + " : " + ('Language/Title' | translate)}}
            </button>
            <mat-menu #langMenu="matMenu">
              <button
                mat-menu-item
                (click)="changeLanguage('en-EN')">
                English
              </button>                
              <button
                mat-menu-item
                (click)="changeLanguage('ru-RU')">
                Русский
              </button>
            </mat-menu>
          </div>
          <div *ngIf="!isLoggedIn && isUserVisible" class="flex-1 login">
            <button
              mat-button
              (click)="router.navigate(['/login'])">
              {{ 'Pages/LoginPage/title' | translate }}
            </button>
            <button
              mat-button
              (click)="router.navigate(['/register'])">
              {{ 'Pages/RegisterPage/title' | translate }}
            </button>
          </div>
          <div class="avatarBlock">
            <button
              class="dropdown-avatar"
              *ngIf="isLoggedIn && isUserVisible"
              mat-button
              [matMenuTriggerFor]="userMenu">
            </button>
            <button
              class="userName"
              *ngIf="isLoggedIn && isUserVisible"
              mat-button
              [matMenuTriggerFor]="userMenu">
              {{ session?.user?.firstName + ' ' + session?.user?.lastName }}
            </button>
            <mat-menu #userMenu="matMenu">
              <button
                mat-menu-item
                (click)="openProfilePage()">
                {{ 'Pages/Header/dropdown/profile' | translate }}
              </button>
              <button
                mat-menu-item
                (click)="openSettingsPage()">
                {{ 'Pages/Header/dropdown/settings' | translate }}
              </button>  
              <button
                mat-menu-item
                (click)="logout()">
                {{ 'Pages/Header/dropdown/logout' | translate }}
              </button>  
            </mat-menu>
          </div>          
        </div>
      </div>
    </div>
  </div>
</div>