div a {
  margin-top: 25px;
  display: flex;
  mat-icon {
    top: 4px;
    position: relative;}
  h2 {
    margin-left: 8px;
    padding-bottom: 5px;
  }
}

.header__user {
  display: flex;
  align-items: center;
}

.avatarBlock {
  margin-top: 10px;
  margin-right: 20px;
  justify-content: flex-end;
  display: flex;
  flex-direction: row;
}

:host {
  position: absolute;
  bottom: 5px;
  width: 100%;
  min-width: 100%;
  min-height: 10vh;
  background-color: lightgray;
}

.headerBlock {
  height: 100%;
  div.row {
    margin-top: 70px;
    margin-bottom: 0px;
  }
}

div.row {
  margin-top: 35px;
  margin-bottom: 25px;
}

div.header__user div {
  align-self: flex-end;
  cursor: pointer;

  & a, span {
    flex: 1;
  }
}

.profile {
  align-items: flex-end;
  flex: 1;
  float: right;
  min-width: 100%;
}

.userName {
  font-weight: bolder;
  font-size: 16px;
  margin-left: 0px;
}

.flex-1 {
  flex: 1;
  display: flex;
  position: relative;
}

.titleLeft {
  margin-left: 30px;
  margin-top: 10px;
}

a {
  color: rgb(5, 61, 5);
  text-decoration: none;
}

@media only screen and (min-width: 1200px) {
  .header.header-desktop .profile {
    height: 80px;
    margin-left: auto;
  }
}

@media only screen and (min-width: 992px) {
  .header.header-desktop .profile {
    background-color: #ffffff;
    height: auto;
    padding: 0;
    order: 2;
    margin-left: auto;
  }
}

.dropdown-avatar {
  display: inline-block;
  height: 3.5rem;
  width: 50px;
  font-size: 1.4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: 3rem 3rem;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url(..\..\..\..\images\svg\user.svg);
}

.langItem {
  font-weight: bolder;
  font-size: 16px;
  &.lang {
    display: none;
  }
  &.title {
    display: block;
  }
}

@media only screen and (max-width: 768px) {
  .avatarBlock span {
    display: block;
  }
  .userName {
    display: none;
  }
  .row {
    flex-direction: row;
  }
  .headerTitle {
    margin-top: 20px;
  }

  .langItem {
    &.lang {
      display: block;
    }
    &.title {
      display: none;
    }
  }

  .flex-1 {
    width: 100%;
  }  
}

@media only screen and (min-width: 380px) {

  .avatarBlock span {
    display: block;
  }
  .movedToLeft {
    margin-left: 1000px;
    width: 100%;
  }
}

.addDeals {
  min-width: 10%;
  max-height: 40px;

  button {
    margin-left: 60%;
    border: none;
    background-color: #018dc9;
    color: white;
  }
}

.langBlock {
  margin-left: 30%;
}

.titleBlock {
  margin-left: 20px;
}

#loginRow {
  margin-top: 20px;
}