<div class="container">
  <div class="row">
    <div class="flex-1">
      <a href="../../../index.html">
        <h2>{{ 'Pages/Header/title' | translate }}</h2>
      </a>
    </div>
    <div class="flex-1 addDeals">
       <button (click)="addDeals()">{{'Pages/Header/AddDealsButton' | translate}}</button>
    </div>
    <div class="flex-1">
      <div class="profile">
        <div class="header__user flex-1" id="loginRow">
          <div *ngIf="!isLoggedIn" class="flex-1">
            <a href="/register" class="flex-1">{{ 'Pages/RegisterPage/title' | translate }}</a>
          </div>
          <div *ngIf="!isLoggedIn" class="flex-1">
            <a href="/login" class="flex-1">{{ 'Pages/LoginPage/title' | translate }}</a>
          </div>

          <div class="langBlock" (click)="onLanguageClick()">
            <span class="langItem">{{ ('Language/Language' | translate) + " : " + ('Language/Title' | translate)}}</span>
            <div *ngIf="isLanguageDropdownVisible">
              <div class=" drop-option drop-0 " (click)="changeLanguage('en-EN')">
                <span>English</span>
              </div>
              <div class="drop-option drop-1" (click)="changeLanguage('ru-RU')">
                <span>Русский</span>
              </div>
            </div>
          </div>
          <div class="flex-1" *ngIf="isLoggedIn" class="flex-1">
            <div class="select flex-1">
              <div class="avatarBlock">
                    <span (click)="onAvatarClick()"
                          class="dropdown--profile dropdown-avatar">
                    </span>
              </div>
            </div>
          </div>
          <div class="flex-1" *ngIf="isLoggedIn" class="flex-1">
            <h3 (click)="onAvatarClick() "
                class="dropdown--profile flex-1 userName">{{ session?.user?.firstName + ' ' + session?.user?.lastName }}</h3>
            <div *ngIf="isDropdownVisible && isLoggedIn" class="option opt-1" (click)="openProfilePage()">
              <span class="">{{ 'Pages/Header/dropdown/profile' | translate }}</span>
            </div>
            <div *ngIf="isDropdownVisible && isLoggedIn" class="option opt-2" (click)="openSettingsPage()">
              <span class="">{{ 'Pages/Header/dropdown/settings' | translate }}</span>
            </div>
            <div *ngIf="isDropdownVisible && isLoggedIn" class="option opt-3" (click)="logout()">
              <span class="">{{ 'Pages/Header/dropdown/logout' | translate }}</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



