<div class="betting-container">
    <div class="row" *ngIf="deal?.canBuyNow">
        <div class="col-6">
            <p>{{ localePath + 'PriceBuyNow' | translate }}</p>
            <p>{{ deal?.pricebuynow }} BYN</p>
        </div>
        <div class="col-6">
            <button class="btn btn-lg btn-block btn-primary" (click)="buyNowClick()">{{ localePath + 'BuyNow' | translate }}</button>
        </div>
    </div>    
    <div class="row">
        <div class="col-6">
            <p>{{ localePath + 'CurrentBet' | translate }}</p>
            <p>{{ deal?.pricebuynow }} BYN</p>
        </div>
        <div class="col-6">
            <button class="btn btn-lg btn-block btn-primary" (click)="makeBet()">{{ localePath + 'MakeBet' | translate }}</button>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <button class="btn btn-lg btn-block btn-secondary" (click)="addToWatchList()">{{ localePath + 'AddToWatchList' | translate }}</button>
        </div>
        <div class="col-12">
            <button class="btn btn-lg btn-block btn-secondary" (click)="addToWatchList()">{{ localePath + 'RemoveFromWatchList' | translate }}</button>
        </div>
    </div>
</div>
