<div id="header">
    <app-header></app-header>
</div>
<div class="content row col-12">
    <div class="desktop row col-9">
        <div class="col-3">
            <img [src]="base64Image" alt="alt">
        </div>
        <div class="col-9">
            <div class="col-12">
                <h3>{{deal.productName}}</h3>
            </div>
            <div class="col-12">
                <p class="desc">{{deal.shortDesc}}</p>
            </div>
            <div class="col-12">
                <p class="desc">{{deal.longDesc}}</p>
            </div>
        </div>
    </div>
    <div id="bet-container" class="col-3">
        <app-betting [deal]="deal"></app-betting>
    </div>
</div>