<p>show-article component works</p>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Article title</th>
            <th>Article author</th>
            <th>Article source</th>
            <th>Options</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let dataItem of ArticleList">
            <td>{{dataItem.title}}</td>
            <td>{{dataItem.author}}</td>
            <td>{{dataItem.source}}</td>
            <td>
                <button type="button" class="btn btn-light mr-1">Edit</button>
                <button type="button" class="btn btn-light mr-1">Delete</button>
            </td>
        </tr>
    </tbody>
</table>

<tr>
    <td>sdkfhsdkjfhkj</td>
    <td>sdkfhsdkjfhkj</td>
    <td>sdkfhsdkjfhkj</td>
    <td>sdkfhsdkjfhkj</td>
    <td>sdkfhsdkjfhkj</td>
    <td>sdkfhsdkjfhkj</td>
    <td>sdkfhsdkjfhkj</td>
</tr>
