#header {
    /* background:rgba(100, 111, 207, 0.466); */
    max-height: 50px;
    margin-bottom: 10px;
    
    border-bottom-style: dashed;
    border-bottom-color: rgb(40, 46, 73);
    border-bottom-width: 5px;
}

#footer {
    background-color: #ddd;
    height: 50px;
    width: 100%;
    margin-top: 10px;  
}

#content {
    min-height: 90vh;
    height: 100%;
}