<div class="wrapper-inner">
  <div class="container container-xs container-responsive">
    <form  [formGroup]="myForm" (ngSubmit)="onSubmit(myForm)">
      <h1>{{localePath + 'Title' | translate}}</h1>
      <app-labeled-input label="{{localePath + 'Password' | translate}}"
                        [control]="myForm.get('password')"
                        fieldName="password"
                        ></app-labeled-input>
      <app-labeled-input label="{{localePath + 'ChangeEmail' | translate}}" 
                        [control]="myForm.get('email')"
                        fieldName="email"
                        [isPasswordField]="false"
                        ></app-labeled-input>
      <div *ngIf="invalidEmailError" class="alert alert-error fade in mb-25"
          style="display:block;">
        <p>{{'Errors/invalidEmailError' | translate}}</p>
      </div>
      <app-ok-cancel okText="{{localePath + 'Ok' | translate}}"
                    cancelText="{{localePath + 'Cancel' | translate}}"
                    ></app-ok-cancel>
      <div *ngIf="responseError" class="alert alert-error fade in mb-25"
          style="display:block;">
        <p>{{ responseErrorText }}</p>
      </div>
    </form>
  </div>
</div>
