input{
   position: relative;
   max-width: 20%;
   left:40%;
}
.form-Item{
  padding-top: 40px;
}
img{
  width: 20px;
  height: 20px;
}

.eyeicon  {
  position: relative;
  top: 65%;
  top: -35px;
  right: -140px;
  transform: translateY(-50%);
  cursor: pointer;
}
