<div class="desktop row">
    <div class="col-3">
        <app-select-images [dealId]="deal.id" [assets]="deal.assets"></app-select-images>

    </div>
    <div class="col-9">
        <div class="row col-12">
            <div class="col-6">
                <a  (click)="onClick()">
                    <h3>{{deal.productName}}</h3>
                </a>
            </div>
            <div class="col-3" *ngIf="showChangeButton">
                <app-users-button id="changeDeal" label="{{'Change' | translate}}"
                [path]="getChangeDealPath()"
                ></app-users-button>
            </div>
        </div>
        <div class="col-12">
            <p class="desc">{{deal.shortDesc}}</p>
        </div>
        <div class="col-12">
            <p class="desc">{{deal.longDesc}}</p>
        </div>
    </div>
</div>