<div class="wrapper-inner ">
  <div class="container container-xs container-responsive">
    <div class="tile tile-no-style">
      <!-- <div class="tile-header tile-header--logo">
          <a href="https://www.iaai.com" class="logo">Homepage</a>
      </div> -->
      <div class="tile-header tile-header--login">
        <div>
          <h1 class="heading-3">{{ localePath + 'title' | translate }}</h1>
          <hr class="hr-highlight hr-highlight-condensed">
        </div>
      </div>
      <section>
        <form [formGroup]="myForm" (ngSubmit)="onSubmit(myForm)">
          <div class="tile-body">
            <div class="login-form">
              <app-labeled-input
                class="padding-top-0"
                label="{{ localePath + 'fieldsNames/firstName' | translate }}"
                [control]="getControl('firstName')"
                fieldName="firstName"
                [isPasswordField]="false"
                ></app-labeled-input>
              <app-labeled-input
                label="{{localePath + 'fieldsNames/lastName' | translate}}"
                [control]="getControl('lastName')"
                fieldName="lastName"
                [isPasswordField]="false"
                ></app-labeled-input>
              <app-labeled-input
                label="{{localePath + 'fieldsNames/username' | translate}}"
                [control]="getControl('userName')"
                fieldName="userName"
                [isPasswordField]="false"
                ></app-labeled-input>
              <app-labeled-input
                label="{{localePath + 'fieldsNames/email' | translate}}"
                [control]="getControl('email')"
                fieldName="email"
                [isPasswordField]="false"
                placeholder="example@gmail.com"
                ></app-labeled-input>
              <div id="invalidEmailError" *ngIf="invalidEmailError" class="alert alert-error fade in mb-25"
                   style="display:block;">
                <p>{{ 'Errors/invalidEmailError' | translate }}</p>
              </div>
              <app-labeled-input
                label="{{localePath + 'fieldsNames/password' | translate}}"
                [control]="getControl('password')"
                fieldName="password"
                [isPasswordField]="true"
                ></app-labeled-input> 
              <div id="invalidPasswordError" *ngIf="invalidPasswordError" class="alert alert-error fade in mb-25"
                   style="display:block;">
                <p>{{ 'Errors/invalidPasswordError' | translate }}</p>
              </div>
              <app-labeled-input
                label="{{localePath + 'fieldsNames/password2' | translate}}"
                [control]="getControl('password2')"
                fieldName="password2"
                [isPasswordField]="true"
                ></app-labeled-input>
              <div id="passwordMatchesError" *ngIf="passwordMatchesError" class="alert alert-error fade in mb-25"
                   style="display:block;">
                <p>{{ 'Errors/passwordMatchesError' | translate }}</p>
              </div>
              <app-labeled-input
                label="{{localePath + 'fieldsNames/phrase' | translate}}"
                [control]="getControl('phrase')"
                fieldName="phrase"
                [isPasswordField]="true"
                ></app-labeled-input>
              <app-labeled-input
                label="{{localePath + 'fieldsNames/phrase2' | translate}}"
                [control]="getControl('phrase2')"
                fieldName="phrase2"
                [isPasswordField]="true"
              ></app-labeled-input>
              <div id="phraseMatchesError" *ngIf="phraseMatchesError" class="alert alert-error fade in mb-25"
                   style="display:block;">
                <p>{{ 'Errors/phraseMatchesError' | translate }}</p>
              </div>
              <div id="invalidResponseError" *ngIf="invalidResponseError" class="alert alert-warning fade in mb-25"
                   style="display:block;">
                <p>{{ errorText }}</p>
              </div>
              <div class="login-form__submit">
                <button type="submit"
                        class="btn btn-lg btn-block btn-primary">{{ localePath + 'title' | translate }}</button>
              </div>
              <p class="text-center mt-20">{{ localePath + 'alreadyRegister' | translate }}
                <a href="/login">{{ localePath + 'login' | translate }}</a>
              </p>
            </div>
          </div>
        </form>
      </section>
    </div>
  </div>
</div>
